<!DOCTYPE html>
<html>
    <head>
        <title>{{user}}</title>
    </head>
    <body id="body">
        <form action="{{url_for('User')}}" method="post">
            <label for="username">Username: </label><br>
            <input type="text" id="username" name="username"/><br>
            <label for="pwd">Password: </label><br>
            <input type="text" id="pwd" name="pwd"/><br>
            <input type="submit"/>
        </form>
    </body>
    <script>
        var error = {{error|tojson}}
        if(error != "None"){
            error_text = document.createTextNode(error)
            document.getElementById("body").appendChild(error_text)
        }
    </script>
</html>
